.icon {
  width: 400px;
  height: 400px;
  margin-bottom: 20px;

  @media (max-width: 414px) {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }
  @media (min-width: 415px) and (max-width: 1000px) {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }
  @media (min-width: 1001px) and (max-width: 1350px) {
    width: 250px;
    height: 250px;
    margin-bottom: 10px;
  }
}

.SliderHolder {
  padding: 10px;
  margin-left: 2.25vw;
  align-items: center;
  width: 95vw;
  justify-content: center;
  @media (max-width: 414px) {
    width: 90vw;
    margin-left: 4.5vw;
  }
}

@media (min-width: 415px) and (max-width: 1000px) {
}
