
.CarouselImage {
    width: 900px;
    height: 54vh;
    margin-left: 22px;
  
    @media only screen and (max-width: 1300px) {
      width: 600px;
    }
    @media only screen and (max-width: 1100px) {
      width: 500px;
    }
    @media only screen and (max-width: 850px) {
      width: 500px;
      height: 35vh;
    }
    @media only screen and (max-width: 414px) {
      width: 100vw;
      margin-left: 0;
    }
  
  }
  .Carousel {
    width: 50vw;
    overflow: hidden;
  
    @media only screen and (max-width: 850px) {
      width: 55vw;
    }
    @media only screen and (max-width: 1100px) {
    }
    @media only screen and (max-width: 414px) {
      width: 100vw;
    }
  }
  
  .Caption {
    text-shadow: 2px 2px 8px black;
  }