.images {
    width: 40vw;
    height: 20vw;
    margin-bottom: 20px;
}

.slides {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    // margin-left: 3vw;

    &:hover {
        cursor: pointer;
        transition: 0.3s;
        transform: scale(1.05);
        text-decoration: none;
    }
}

.headerBox {
    width: 40vw;
    text-align: center;
    height: 6vh;
    margin-top: 20px;
    padding: none;
    font-family: 'Alfa Slab One', cursive;
    color: black;
    // border: 2px solid white;

}

.paraBox {
    width: 40vw;
    text-align: center;
    height: 14vh;
    padding: 10px;
    border: 2px solid white;
    background-color: rgb(140, 140, 213);
    border-radius: 10px 10px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 17px;
}

  .SliderHolder {
    // border: 2px solid white;
    margin-left: 2.25vw;
    align-items: center;
    width: 95vw;
    justify-content: center;
  }

  a {
    &:hover{
        text-decoration: none;
    }
  }