$deep-purple: #9e41e6;
$light-purple: rgb(212, 115, 212);

.navbar {
  border-radius: 10px;
  position: fixed;
  width: 90vw;
  overflow: hidden;
  top: 0;
  margin: 2vh 5vw 2vh 5vw;
  background-color: white;
  z-index: 1001;
  color: black;
  opacity: 0.7;

  &:hover {
    opacity: 1;
    transition: 1s;
  }

  @media only screen and (max-width: 600px) {
    margin: 10px 10px px;
  }
}

.navbar > ul {
  list-style-type: none;
  border: 3px solid $deep-purple;
  border-radius: 10px;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.navbar > ul > li > a {
  text-decoration: underline;
  font-family: "Prosto One", cursive;
  font-size: 20px;
  font-weight: bold;
  color: black;
  display: inline-block;

  &:hover {
    color: $deep-purple;
    transition: 0.3s;
    transform: scale(1.2);
    cursor: pointer;
  }

  @media only screen and (max-width: 600px) {
    font-size: 12px;
  }
}
