.Contact{
    width: 100vw;
    height: 100vh;
    background-image: url("../../assets/leaves.png");
    background-size: cover;
    display: flex;
    flex-direction: row;
}

.yellowbox{
    width: 25vw;
    height: 60vh;
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    
}
.purplebox{
    overflow: hidden;
    width: 25vw;
    height: 90vh;
    display:flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.yellowflower {
    width: 23vw;
    position: absolute;
	animation: rotation 25s infinite linear;
    transition: all 2s ease-in-out;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.purpleflower{
    margin-left: 5vw;
    animation: rotation 12s infinite linear;
    transition: all 2s ease-in-out;
}
.FormBox {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}