.AboutMain{
    width: 100vw;
    height: 100vh;
    background-image: url("../../assets/cloudspace.png");
    background-size: cover;
}

.profileBox {
    width: 100vw;
    height: 70vh;
    // border: 2px solid black;
    display: flex;
    margin-left: 20vw;
    margin-bottom: none;
    align-items: flex-end;
}

.image {
    width: 20vw;
    height: 20vw;
    border-radius: 250px 250px;
    z-index: 1000;
}

.bio {
    width: 40vw;
    margin-left: 6vw;
    margin-bottom: 2vh;
    font-size: 30px;
    color: black;
}

.cloudBox{
    width: 100vw;
}

.clouds {
    // margin: none;
    opacity: 0.4;
    animation: animateCloud 35s linear infinite;
    overflow: hidden;
}

@keyframes animateCloud {
    0% {
        margin-left: -160vw;
    }
    100% {
        margin-left: 100%;
    }
}