.Skills{
    height: 100vh;
    width: 100vw;
    // background: linear-gradient( #EE7752, #a362e0, #23A6D5, #23D5AB);
    background: linear-gradient( #d2dbe6, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    animation: alter 10s ease-in-out infinite;
    // display: grid;
    // grid-template-columns: 1fr;
}
@keyframes alter {
    0% {
        background-position: 50% 0%;
    };
    50% {
        background-position: 50% 100%;
    };
    100% {
        background-position: 50 0%;
    }    
}

.headerBox{
    height: 30vh;
    width: 100vw;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 10vh;
}

.header{
    @media only screen and (max-width: 414px) {
        font-size: 18px;
      }
      @media only screen and (min-width: (415px)) and (max-width: 820px) {
        font-size: 30px;
      }
}
// #EE7752,