.Skills{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(-45deg, #EE7752, #a362e0, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    animation: alter 10s ease-in-out infinite;
    // display: grid;
    // grid-template-columns: 1fr;
}
@keyframes alter {
    0% {
        background-position: 0 50%;
    };
    50% {
        background-position: 100% 50%;
    };
    100% {
        background-position: 0 50%;
    }    
}

.headerBox{
    height: 30vh;
    width: 100vw;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 10vh;
}
// .CarouselImage {
//     width: 900px;
//     height: 54vh;
//     margin-left: 22px;
  
//     @media only screen and (max-width: 1300px) {
//       width: 600px;
//     }
//     @media only screen and (max-width: 1100px) {
//       width: 500px;
//     }
//     @media only screen and (max-width: 850px) {
//       width: 500px;
//       height: 35vh;
//     }
//     @media only screen and (max-width: 414px) {
//       width: 100vw;
//       margin-left: 0;
//     }
  
//   }
//   .Carousel {
//     width: 50vw;
//     overflow: hidden;
  
//     @media only screen and (max-width: 850px) {
//       width: 55vw;
//     }
//     @media only screen and (max-width: 1100px) {
//     }
//     @media only screen and (max-width: 414px) {
//       width: 100vw;
//     }
//   }
  
//   .Caption {
//     text-shadow: 2px 2px 8px black;
//   }

