$offset: 80px !default;
$blur-radius: 60px !default;
$spread-radius: 16px !default;

.Projects {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(#0c2707, #309721, #6b9ee0, rgb(188, 206, 229));
}

@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");

.waviy {
  position: relative;
  -webkit-box-reflect: below -55px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
}
.waviySpan {
  font-family: "Alfa Slab One", cursive;
  position: relative;
  display: inline-block;
  color: #fff;
  animation: waviy 2s infinite;
  animation-delay: calc(0.1s * var(--i));
}
@keyframes waviy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}

.Header {
  font-size: 6em;
  width: 100vw;
  height: 24vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  letter-spacing: 5px;

  @media (max-width: 485px) {
    height: 25vh;
    font-size: 50px;
  }
  @media only screen and (min-width: 486px) and (max-width: 620px) {
    font-size: 60px;
  }

  @media (max-height: 820px) {
    font-size: 5em;
  }
}
