.Projects{
    height: 100vh;
    width: 100vw;
    background-color: #23D5AB;
}

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

.waviy {
  position: relative;
  -webkit-box-reflect: below -55px linear-gradient(transparent, rgba(0,0,0,.2));
}
.waviySpan {
  font-family: 'Alfa Slab One', cursive;
  position: relative;
  display: inline-block;
  color: #fff;
  animation: waviy 2s infinite;
  animation-delay: calc(.1s * var(--i));
  
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}

.Header {
  font-size: 6em;
  width: 100vw;
  height: 24vh;
  display:flex;
  align-items: flex-end;
  justify-content: center;
  letter-spacing: 5px;

  @media (max-width: 414px) {
    height: 18vh;
    font-size: 50px;
  }
}